<h1 class='transparent-light text-center'><%= t(:about) %></h1>
<div class='transparent-dark'>

  <div class='transparent-light col-sm-12'>
    <figure class='col-sm-4 col-md-4 col-lg-4 hidden-xs'>
      <%= image_tag 'Lew', class:'img img-responsive' %><caption>Lewis</caption>
    </figure>
    <%= t(:lew) %>
    <p>
      <%= t(:about_lew) %>
      <br>
      <br>
      In 2003, I began studying massage and working as resource coordinator, office administrator, and continuing education coordinator at the Natural Health Institute.
      <br>
      <br>
      Upon graduation and licensure in 2005, I started a bodywork practice in the NHI clinic and in 2007 became an instructor. I created the Sound Body Integration© class to share the healing power of sound with others. Currently in my tenth year of practice, I continue to provide education, awareness and integral holistic therapy.
      <br>
      <br>
        I live with my wife and <strike>four</strike> five beautiful children in the rolling hills of Bellevue where we enjoy nature, music, art, play time, gardening, and meals with friends and family.
      <br>
      <caption>The Braswells</caption>
      <%= image_tag 'fam', class:'img img-responsive' %>
    </p>
  </div>
</div>
<div class='transparent-dark'>
  <div class='transparent-light col-sm-12'>
    <%= t(:camo) %>
    <p>
      <%= t(:about_camo_html) %>
    </p>
  </div>
</div>
