<div class='container'>
  <h1 class='transparent-light text-center'>Contact</h1>
  <div class='transparent-dark'>
      <div class='col-sm-12'<%= render 'shared/hours' %>
      <address class='col-sm-6'>
        <%= t(:client) %><br>
        <%= t(:address_html) %><br>
        <%= link_to t(:email),
        'mailto:lew@nashvilleom.com?subject=Nashville Orthopedic Massage.&body=
         I would like to book a session!', class:'btn-link'%><br>
        <%= link_to '615-310-5359', 'tel:+1+615-310-5359', class:'btn-link' %><br>
      </address>
      <div id='contact-me-buttons' class='col-sm-6 text-center'>
        <%= link_to 'Call', 'tel:+1+615-310-5359', class: 'btn btn-success btn-lg' %>
        <%= link_to 'Email', 'mailto:lew@nashvilleom.com?subject=Nashville Orthopedic Massage.&body=I would like to book a session!',
            class: 'btn btn-success btn-lg' %>
      </div>
  </div>

  <h2 class='transparent-light text-center'>Map</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.582968037486!2d-86.84864418432588!3d36.15236611159554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8864616bed9d741f%3A0x6d0ec6c1f9b0e5b8!2sNashville+Orthopedic+Massage!5e0!3m2!1sen!2sus!4v1496259239353" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
