
  <h1 class='transparent-light text-center'>YOUR FEET ARE YOUR FOUNDATION</h1>

  <div class='text-center transparent-light'>
      <div class='xs-spacer'></div>
    <%= image_tag 'feet', class:'img img-responsive col-md-12 col-sm-12 col-xs-12' %>
    <ul class='list-group reg-ul transparent-light'>
      <h5 class="list-group-item-heading">Looking for a way to <strong>PREVENT</strong> and <strong>CORRECT:</strong></h5>
      <li>Bunions,</li>
      <li>Hammertoes,</li>
      <li>Neuromas,</li>
      <li>Plantar Fasciosis,</li>
      <li>Heel and Foot Pain?</li>
    </ul>
    <p class='transparent-light'>&nbsp;&nbsp;&nbsp;&nbsp;Connective
      Tissue Massage, Structural Bodywork, and Isolated Stretching Techniques
      release repetitive strain patterns and reprogram the neurological
      functions of the musculofasical system.  This provides the opportunity to
      restore resilience and awareness to the foundation of what makes us human,
      our feet.  Along with stretching and bodywork, Podiatrist Ray McClanahan
      created Correct Toes.  An orthotic device, Correct Toes aligns the bones
      of the feet, thus allowing the muscles of the lower leg and foot to strengthen
      and balance. Correct toes are available through Nashville Orthopedic Massage.
    </p>
    <div class='col-md-6 col-sm-12 col-xs-12'>
      <div class='row'>
          <caption for='natchez' class='transparent-light col-md-offset-1 col-md-10 text-center'><%= t(:natchez)%></caption>
          <%= image_tag 'natchez', class:'img img-responsive col-md-12 col-sm-12 col-xs-12' %>
      </div>
      <br />
      <div class='row'>
        <%= image_tag 'arches2', class:'img img-responsive col-md-12 col-xs-12' %>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class='col-md-6 col-sm-12'>
      <div class='row'>
        <%= image_tag 'arches', class:'img img-responsive col-md-12 col-sm-12 col-xs-12' %>
      </div>
      <br />
      <br />
    </div>

  </div>
