<ul class="nav navbar-nav">
  <!-- <li><%= link_to "Dinner Menu", '#'%></li> -->
  <!-- <li><%= link_to "Calendar", events_path, :"data-no-turbolink" => true %></li> -->
  <li><%= link_to "About/Contact", static_pages_about_path %></li>
  <li><%= link_to "Treatments", galleries_path %></li>
  <li><%= link_to "Foot Health", galleries_path %></li>
  <li><%= link_to "Shop", galleries_path %></li>
  <li><%= link_to "Classes & Education", galleries_path %></li>
  <!-- <li><%= link_to "Bands", bands_path %></li> -->
</ul>
