<%- model_class = Event -%>

<h1 class='text-center transparent-light'>Night Owl Calendar</h1>

<table class="table hidden">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:artist) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% if event.start_time > Date.today %>
        <tr>
          <td><%=l event.start_time, format: :short if event.start_time? %></td>
          <% if event.band %>
            <td><%= event.band.name %></td>
          <% end %>
          <td><%= event.title %></td>
          <% if event.description %>
            <td>Present</td>
          <% else %>
            <td>Not Present</td>
          <% end %>
          <td><%=l event.created_at, format: :short %></td>
          <td>
            <%= link_to event_path(event), :class => 'btn btn-xs btn-warning', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
            <%- end -%>
            <%= link_to edit_event_path(event), :class => 'btn btn-xs btn-primary', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }", :"data-no-turbolink" => true do %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to event_path(event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='col-md-12' id='calendar'></div>
