  <div class='hidden-xs massage-hands text-center'>
    <h1 class='news-header2'><span>Finding Health by <strong>defining balance</strong>...</span></h1>
  </div>
  <div class='row'>
    <figure class='figure foot'>
      <%= image_tag 'Foot.jpeg', class: 'col-xs-12 col-sm-6 col-md-5 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
    </figure>
    <h2 class='text-center'>Hands on Healthcare</h2>
    <p>
      Listening to and understanding YOU is what
      allows for the most effective treatment.  I practice a proactive and
      preventative approach to wellness while also initiating the power of
      touch to rehabilitate and heal.
    </p>
    <p>
      Find freedom in gravity through the practice of
      manual therapy assessment, Myofascial techniques, and Orthopedic &
      Sports massage. An integral blend of Western and Eastern science are
      combined and tailored to the needs of each individual.  Healing is an
      art that we all possess based on our willingness to accept responsibility
      for and educate ourselves about our health in all forms.  Finding health
      by defining balance...
    </p>
  </div>
  <div class='row'>
    <div class="text-center col-md-12">
      <h2>Find Freedom From:</h2>
    </div>
    <figure class='figure'>
      <%= image_tag 'front.jpg', class:'hidden-xs col-md-3 figure-img img-fluid img-rounded' %>
    </figure>
    <div class='center-column col-md-6'>
      <ul class='list-group reg-ul'>
        <li>Musculoskeletal Pain</li>
        <li>Headaches</li>
        <li>TMJ</li>
        <li>Sciatica</li>
        <li>Plantar Fascitis/Foot Pain</li>
        <li>Scar Tissue</li>
        <li>Sprains/Strains</li>
        <li>Anxiety</li>
        <li>Mental/Emotional imbalances</li>
        <li>Sleep Disorders</li>
        <li> General Discomfort </li>
        <li>And more...</li>
      </ul>
      <p class='text-left'>
        &nbsp;&nbsp;&nbsp;&nbsp;Our main system of support in gravity is our
        Myofascial system.  This system consists of a continuous web of layered
        collagen fibers that extend in planes from head to toe.  Stress, illness,
        physical and emotional trauma can cause this connective tissue matrix to
        compress and restrict the body's inner space thus creating misalignment,
        pain and pathology of the whole human organism.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Connective Tissue Massage, Structural Bodywork,
        Isolated Stretching Techniques and Corrective Movements release repetitive
        strain patterns and reprogram the neurological functions of the
        musculofasical system.  This provides the opportunity to restore function,
        resilience, awareness and HEALTH!
      </p>
    </div>
    <figure class='figure hidden-xs'>
      <%= image_tag 'SuperFicial-Back.png', class:'col-md-3 figure-img img-fluid img-rounded' %>
    </figure>
  </div>
  <figure class='front mobile text-center col-md-4 col-sm-4 col-xs-6
                 pull-right hidden-lg hidden-xl'>
    <%= image_tag 'front', class:'super-ficial-front' %>
  </figure>
  <figure class='front mobile text-center col-md-4 col-sm-4 col-xs-6
                 pull-right hidden-lg hidden-xl'>
    <%= image_tag 'SuperFicial-Back.png', class:'super-ficial-front' %>
  </figure>
  <div class='xs-spacer'></div>
