<%- model_class = Welcome -%>
<% if user_signed_in? && current_user.admin? %>
  <% @welcomes.order(:role).each do |welcome| %>
    <div id='admin-container'>
      <table bgcolor="#00FF00" class="table hidden">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:role) %></th>
            <th><%= model_class.human_attribute_name(:header) %></th>
            <th><%= model_class.human_attribute_name(:headline) %></th>
            <th><%= model_class.human_attribute_name(:notes) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= welcome.role %></td>
              <td><%= welcome.title %></td>
              <td><%= welcome.headline %></td>
              <td><%= welcome.notes %></td>
            <td>
              <%= link_to welcome_path(welcome), :class => 'btn btn-xs btn-warning', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                <%= glyph 'info-sign'%>
              <%- end -%>
              <%= link_to edit_welcome_path(welcome), :class => 'btn btn-xs btn-primary', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
                <%= glyph 'pencil' %>
              <%- end -%>
              <%= link_to welcome_path(welcome), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                <%= glyph 'remove' %>
              <%- end -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
  <%= render 'shared/header'%>

  <div class='xs-spacer'></div>
  <div class='news-item'>
  <% if @main_welcome[0] %>
    <div class='container-fluid'>
      <div class='row'>
        <div class="news-header transparent-dark"><h1 class='headline'><%= @main_welcome[0].title.html_safe %></h1></div>
      </div>
    <figure class='hanger figure col-xs-6'>
      <%= image_tag 'hanger', class: 'col-xs-12 figure-img img-fluid img-rounded pull-left', alt:"A picture of crumpled and misaligned boxes and shapes and another picture of the same shapes hanging in line from above on a hook."%>
    </figure>
    <p class='transparent-light news-headline text-center'><%= @main_welcome[0].headline.html_safe %></p>
    <p class='transparent-light news-notes'><%= @main_welcome[0].notes.html_safe %></p>
  <% end %>
  <div class='xs-spacer'></div>
  </div>
  </div>
  <div class='xs-spacer'></div>
  <div class='news-item'>
    <% @welcomes.each do |welcome| %>
      <% unless (welcome.role == 'main' || welcome.role == 'hidden') %>
        <%  if welcome.title %>
          <div class='row'>
            <div class="news-header2 transparent-dark text-center"><h2><%= welcome.title.html_safe %></h2></div>
          </div>
        <% end %>
        <div class='row'>
          <figure class='back col-md-2'>
            <%= image_tag 'SuperFicial-Back.png', class:'super-ficial-back col-md-12' %>
          </figure>
          <figure class='front col-md-2'>
            <%= image_tag 'front', class:'superficial-front col-md-12' %>
          </figure>
          <div class='transparent-light news-headline text-center col-md-4'><%= render html: welcome.headline.html_safe %></div>

          <p class='news-notes'><%= render html: welcome.notes.html_safe %></p>
        </div>

      <% end %>
    <% end %>
  </div>
  <div class='xs-spacer'></div>
</div>
