

  <div class='xs-spacer'></div>
  <div class='news-item'>
    <% if @main_welcome[0] %>
    <div class='news-header2 transparent-dark text-center'><%= @main_welcome[0].headline.html_safe %></div>
      <figure class='hanger remove-padding figure col-xs-12 col-sm-6'>
        <%= image_tag 'hanger', class: 'remove-padding col-xs-10 figure-img img-fluid img-rounded', alt:"A picture of crumpled and misaligned boxes and shapes and another picture of the same shapes hanging in line from above on a hook."%>
      </figure>

      <p class='transparent-light news-notes'><%= @main_welcome[0].notes.html_safe %></p>
    <% end %>
    <div class='news-i  tem'>
      <% @welcomes.each do |welcome| %>
        <% unless (welcome.role == 'main' || welcome.role == 'hidden') %>
          <%  if welcome.title %>
              <div class="news-header2 transparent-dark text-center"><h2><%= welcome.title.html_safe %></h2></div>
          <% end %>
          <div class='row'>
            <figure class='back col-md-2 col-md-6 col-sm-6 col-xs-6'>
              <%= image_tag 'SuperFicial-Back.png', class:'super-ficial-back col-md-12' %>
            </figure>
            <figure class='front col-md-2 col-md-6 col-sm-6 hidden-xs hidden-sm hidden-md'>
              <%= image_tag 'front', class:'super-ficial-front col-md-12' %>
            </figure>

            <div class='news-headline text-center col-md-4 col-sm-6 col-xs-6'><%= render html: welcome.headline.html_safe %></div>
            <figure class='front col-md-4 col-sm-4 col-xs-4 pull-right hidden-lg hidden-xl'>
              <%= image_tag 'front', class:'super-ficial-front col-md-12' %>
            </figure>
            <p class='news-notes'><%= render html: welcome.notes.html_safe %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
<div class='xs-spacer'></div>
