<%= form_for @band, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hometown, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hometown, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :avatar, :class => 'control-label col-md-2' %>
    <%= image_tag @band.avatar_url(:thumb), class: 'img img-responsive' if @band.avatar? %>
    <div class="col-md-10">
      <%= f.file_field :avatar, class: 'pull-right form-control col-md-10' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :remote_avatar_url, "or image URL", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :remote_avatar_url, :class => 'text_field form-control col-md-10' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bio, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :bio, :class => 'text_field form-control col-md-12' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :youtube, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :link, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :link2, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :facebook, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :link3, :class => 'text_field form-control' %>
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :id => 'submit', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  bands_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
