<%- model_class = Gallery -%>
<div class='row'>
  <h1 class='transparent-light text-center'>Gallery</h1>
</div>

<div class='row transparent-dark'>
  <div class='col-md-6'>
    <%= image_tag('gang', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
  <div class='col-md-6'>
    <%= image_tag('pool-and-ping-pong', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
</div>
<div class='row transparent-dark'>
  <div class='col-md-6'>
    <%= image_tag('hoot', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
  <div class='col-md-6'>
    <%= image_tag('wings', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
</div>
<div class='row transparent-dark'>
  <div class='col-md-6'>
    <%= image_tag('proprietors', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
  <div class='col-md-6'>
    <%= image_tag('night-owl-texture', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
</div>
<div class='row transparent-dark'>
  <div class='col-md-6'>
    <%= image_tag('NightOwlOutside', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
  <div class='col-md-6'>
    <%= image_tag('night-owl-logo', id: 'index-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
  </div>
</div>
<div class='xs-spacer'></div>


<div class='xs-spacer'></div>
